#radioSelect{
    width: 180px;
    min-height: 30px;
}

.select2-container--default .select2-selection--single{
    border: 2px solid #763568 !important;
    min-height: 32px !important;
    outline: none;
}

.select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #763568 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #763568 transparent transparent transparent !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #763568 !important;
}

select:active, select:hover, select:focus {
    outline: none;
}

#selectContainer, #controlContainer{
    width: 180px;
    margin: auto;
    margin-top: 20px;
}

#muteVolume{
    width: 100%;
    background-color: white;
    border: 4px solid #2c3e50;
    outline: none;
    border-radius: 4px;
}

#muteVolume:hover{
    box-shadow: 1px 1px 5px #2c3e50;
    border: 4px solid #763568;
    transition: 0.6s;
}

#muteIcon{
    height: 30px;
}

label#volumeLabel{
    margin-top: 10px;
}

label{
    text-align: center;
    font-family: cursive;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

#selectContainer option{
    font-family: cursive;
}

#mainContainer{
    min-height: 300px;
    overflow: hidden;
    width: 250px;
}

.play {
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 60px solid #763568;
    margin: 50px auto 50px auto;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left: 10px;
}
.play:before {
    content: '';
    position: absolute;
    top: -75px;
    left: -115px;
    bottom: -75px;
    right: -35px;
    border-radius: 50%;
    border: 12px solid #2c3e50;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.play:after {
    content: '';
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.play.active {
    border-color: transparent;
}
.play.active:after {
    content: '';
    opacity: 1;
    width: 50px;
    height: 80px;
    background: #763568;
    position: absolute;
    right: 5px;
    top: -40px;
    border-left: 20px solid #763568;
    box-shadow: inset 30px 0 0 0 white;
}

/* scrollbar custom */
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 7px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    outline: 0px solid #763568;
}
/* end scrollbar custom */

/* slider custom*/
input[type=range].sliderCustom {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.5px 0;
}
input[type=range].sliderCustom:focus {
    outline: none;
}
input[type=range].sliderCustom::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(44, 62, 80, 0.25), 0px 0px 1px rgba(53, 75, 96, 0.25);
    background: #2c3e50;
    border-radius: 0px;
    border: 0px solid #2c3e50;
}
input[type=range].sliderCustom::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #2c3e50, 0px 0px 0px #354b60;
    border: 0px solid #2c3e50;
    height: 27px;
    width: 13px;
    border-radius: 0px;
    background: #763568;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}
input[type=range].sliderCustom:focus::-webkit-slider-runnable-track {
    background: #2c3e50;
}
input[type=range].sliderCustom::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(44, 62, 80, 0.25), 0px 0px 1px rgba(53, 75, 96, 0.25);
    background: #2c3e50;
    border-radius: 0px;
    border: 0px solid #2c3e50;
}
input[type=range].sliderCustom::-moz-range-thumb {
    box-shadow: 0px 0px 0px #2c3e50, 0px 0px 0px #354b60;
    border: 0px solid #2c3e50;
    height: 27px;
    width: 13px;
    border-radius: 0px;
    background: #763568;
    cursor: pointer;
}
input[type=range].sliderCustom::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].sliderCustom::-ms-fill-lower {
    background: #2c3e50;
    border: 0px solid #2c3e50;
    border-radius: 0px;
    box-shadow: 1px 1px 1px rgba(44, 62, 80, 0.25), 0px 0px 1px rgba(53, 75, 96, 0.25);
}
input[type=range].sliderCustom::-ms-fill-upper {
    background: #2c3e50;
    border: 0px solid #2c3e50;
    border-radius: 0px;
    box-shadow: 1px 1px 1px rgba(44, 62, 80, 0.25), 0px 0px 1px rgba(53, 75, 96, 0.25);
}
input[type=range].sliderCustom::-ms-thumb {
    box-shadow: 0px 0px 0px #2c3e50, 0px 0px 0px #354b60;
    border: 0px solid #2c3e50;
    height: 27px;
    width: 13px;
    border-radius: 0px;
    background: #763568;
    cursor: pointer;
    height: 10px;
}
input[type=range].sliderCustom:focus::-ms-fill-lower {
    background: #2c3e50;
}
input[type=range].sliderCustom:focus::-ms-fill-upper {
    background: #2c3e50;
}


.equalizer {
    position: absolute;
    bottom: 6.5vmin;
    left: 6.5vmin;
    display: block;
    width: 1.7vmin;
    background-color: #763568;
    height: 1vmin;
}

.equalizer,
.equalizer::before,
.equalizer::after {
    animation: equalize 1.25s steps(25, end) 0s infinite;
}

.equalizer::before,
.equalizer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.5vmin;
    height: 7vmin;
    width: 2vmin;
    background-color: #763568;
}

.equalizer::before {
    animation-name: equalize2;
}

.equalizer::after {
    left: 5vmin;
    animation-name: equalize3;
}

.stopAnime, .stopAnime::after, .stopAnime::before{
    animation: inherit !important;
    height: 1vmin !important;
}

@keyframes equalize {
    0% {
        height: 2vmin;
    }
    4% {
        height: 1vmin;
    }
    8% {
        height: 2vmin;
    }
    12% {
        height: 3.5vmin;
    }
    16% {
        height: 5vmin;
    }
    20% {
        height: 6.5vmin;
    }
    24% {
        height: 6vmin;
    }
    28% {
        height: 5.5vmin;
    }
    32% {
        height: 5.5vmin;
    }
    36% {
        height: 4vmin;
    }
    40% {
        height: 5vmin;
    }
    44% {
        height: 5vmin;
    }
    48% {
        height: 5.5vmin;
    }
    52% {
        height: 6vmin;
    }
    56% {
        height: 6.5vmin;
    }
    60% {
        height: 6vmin;
    }
    64% {
        height: 6vmin;
    }
    68% {
        height: 5.5vmin;
    }
    72% {
        height: 5vmin;
    }
    76% {
        height: 5.5vmin;
    }
    80% {
        height: 6vmin;
    }
    84% {
        height: 6vmin;
    }
    88% {
        height: 6.5vmin;
    }
    92% {
        height: 5vmin;
    }
    96% {
        height: 3.5vmin;
    }
    100% {
        height: 2vmin;
    }
}
@keyframes equalize2 {
    0% {
        height: 6vmin;
    }
    4% {
        height: 6.5vmin;
    }
    8% {
        height: 6vmin;
    }
    12% {
        height: 6vmin;
    }
    16% {
        height: 5.5vmin;
    }
    20% {
        height: 5.5vmin;
    }
    24% {
        height: 5.5vmin;
    }
    28% {
        height: 6vmin;
    }
    32% {
        height: 6vmin;
    }
    36% {
        height: 6.5vmin;
    }
    40% {
        height: 6.5vmin;
    }
    44% {
        height: 6.5vmin;
    }
    48% {
        height: 5.5vmin;
    }
    52% {
        height: 4vmin;
    }
    56% {
        height: 3vmin;
    }
    60% {
        height: 4vmin;
    }
    64% {
        height: 5vmin;
    }
    68% {
        height: 5.5vmin;
    }
    72% {
        height: 6.5vmin;
    }
    76% {
        height: 6vmin;
    }
    80% {
        height: 6vmin;
    }
    84% {
        height: 5.5vmin;
    }
    88% {
        height: 5.5vmin;
    }
    92% {
        height: 4.5vmin;
    }
    96% {
        height: 5.5vmin;
    }
    100% {
        height: 6vmin;
    }
}
@keyframes equalize3 {
    0% {
        height: 4.5vmin;
    }
    4% {
        height: 3.5vmin;
    }
    8% {
        height: 4.5vmin;
    }
    12% {
        height: 5.5vmin;
    }
    16% {
        height: 6.5vmin;
    }
    20% {
        height: 7.5vmin;
    }
    24% {
        height: 7vmin;
    }
    28% {
        height: 5.5vmin;
    }
    32% {
        height: 4.5vmin;
    }
    36% {
        height: 4vmin;
    }
    40% {
        height: 3.5vmin;
    }
    44% {
        height: 2.5vmin;
    }
    48% {
        height: 4vmin;
    }
    52% {
        height: 5vmin;
    }
    56% {
        height: 5.5vmin;
    }
    60% {
        height: 6.5vmin;
    }
    64% {
        height: 6vmin;
    }
    68% {
        height: 5.5vmin;
    }
    72% {
        height: 5.5vmin;
    }
    76% {
        height: 5vmin;
    }
    80% {
        height: 6vmin;
    }
    84% {
        height: 6.5vmin;
    }
    88% {
        height: 7vmin;
    }
    92% {
        height: 6vmin;
    }
    96% {
        height: 5vmin;
    }
    100% {
        height: 4.5vmin;
    }
}
.center-me {
    position: absolute;
    top: 10px;
    left: -5px;
    width: 20vmin;
    height: 20vmin;
}